{% extends 'main_app/base.html' %}
{% block title %}{{ title }} | Learning Management System{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% include 'snippets/messages.html' %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <p class="form-title">Post Form</p>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Save">
                    <a class="btn" href="{% url 'admin_home' %}" style="float: right;">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<h2 class="mt-4">News and Events</h2>
<div class="row">
    {% for news in news_events %}
        <div class="col-md-4">
            <div class="card mb-3">
                {% if news.image %}
                    <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.summary }}</p>
                    <p class="card-text"><small class="text-muted">Posted on {{ news.date_posted }}</small></p>
                </div>
            </div>
        </div>
    {% empty %}
    <div>
        <p class="text-center">No news and events available.</p>
    </div>
    {% endfor %}
</div>

{% endblock content %}
